.checkout {

    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;

}

.checkout_title {

    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_right{

    margin-right: 100px;
    padding: 10px;
}